<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name="com.inetbanking.utils.CustomListeners"/>
	</listeners>
  <test thread-count="5" name="Test">
  	<parameter name="browserName" value="Chrome"/>
    <classes>
     <!--<class name="com.inetbanking.test_cases.TestCase_001_LoginTest"/>  --> 
     <!-- <class name="com.inetbanking.test_cases.TestCase_002_LoginTest_DD"/>  -->    
      <!-- <class name="com.inetbanking.test_cases.TestCase_003_AddCustomer"/>  --> 
      <class name="com.inetbanking.test_cases.TestCase_004_Deposit" />
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
